@model IEnumerable<eLearningAutomotiveWebSite.Models.Content>

@{
    ViewData["Title"] = "Index";
}

<h1>Bienvenue @ViewBag.Email / Les tutos de l'auto</h1>

<p>
    @if (ViewBag.Role == "employee")
    {
        <a asp-action="Create" class="pt-1 btn btn-primary">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            @if (ViewBag.Role == "employee")
            {
                <th>Vu?</th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            @if (ViewBag.Role != "visitor")
            {
                <th>
                    @Html.DisplayNameFor(model => model.Video)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModificationDate)
            </th>
            <th>
                Categorie
            </th>
            @if (ViewBag.Role == "employee")
            {
                <th>gérer</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (ViewBag.Role == "employee")
                {
                    @if (item.DejaVu)
                    {
                        <td>Vu!</td>
                    }
                    else
                    {
                        <td>New!</td>
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                @if (ViewBag.Role != "visitor")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Video)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModificationDate)
                </td>
                <td>
                    @ViewBag.Categories[item.IdCategory]
                </td>
                @if (ViewBag.Role == "employee")
                {
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
