@model IEnumerable<eLearningAutomotiveWebSite.Models.History>

@{
    ViewData["Title"] = "Historique de consultation";
}

<h1>Historique de consultation</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Article visité
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitDate)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.IdUser)
            </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var (item, i) in Model.Select((item, i)=> (item, i))) {
        <tr>
            <td>
                @ViewBag.contents[i].Title
           </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitDate)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
*@
            <td>
                <a  class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
